<div class="modal fade bd-example-modal-lg" id="modalVisualizarDocumento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <h5 class="titulo" id="exampleModalLabel">Cargar Documento a Portafolio Docente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="container">
          <div class="row">
            <div class="form-wizard"> 
              <fieldset>
                <ng-template appDynamicHost>
  
                </ng-template>  
              </fieldset>       
              <div class="form-wizard-buttons">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarPdf()">Cerrar</button>
              </div>
            </div>
          </div>
         </div>
        </section>
      </div>
    </div>
  </div>
