<div class="modal fade" id="modalModificarDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let user of usuarioActivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:150%">
      <div class="modal-header modal-background">
        <h5 class="titulo"id="exampleModalLabel">Modificar Información Personal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="container">
          <div class="row">
            <div class="form-wizard"> 
              <form class="form-usuario" #formUsuario="ngForm" (ngSubmit)="modificarUsuario(formUsuario)">
                <fieldset class="p-3 mt-4">
                  <legend  class="w-auto">&nbsp;&nbsp;<i class="fas fa-user-tag"></i><strong style="color: crimson;">&nbsp; Información Personal</strong>&nbsp;&nbsp;</legend>
                  <div class="form-row" style="text-align: left">
                    <div class="form-group col-md-6" style="text-align: left">
                      <label>Nombres: <span>*</span></label>
                      <input type="text" id="nombres" name="nombres" minlength="2" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚÜü\s]+"  
                      #nombres="ngModel" title="Letras y números. Tamaño mínimo: 3 caracteres." placeholder="Nombres" class="form-control required" [(ngModel)]="this.servicio.usuarioModificar.nombre" required>
                      <div *ngIf="nombres.touched && !nombres.valid"  class="alert alert-danger">
                        <div *ngIf="nombres.errors.required">Nombre es requerido</div>
                        <div *ngIf="nombres.errors.minlength">Nombre debe ser de al manos 2 caracteres</div>
                        <div *ngIf="nombres.errors.pattern">Solo se aceptan letras</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6" style="text-align: left">
                      <label>Apellidos: <span>*</span></label>
                      <input type="text" id="apellidos" #apellidos="ngModel" minlength="2" name="apellidos"  required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚÜü\s]+"  
                      placeholder="Apellidos" class="form-control required" [(ngModel)]="this.servicio.usuarioModificar.apellido" required>
                      <div *ngIf="apellidos.touched && !apellidos.valid"  class="alert alert-danger">
                          <div *ngIf="apellidos.errors.required">Apellido es requerido</div>
                          <div *ngIf="apellidos.errors.minlength">Apellido debe ser de al manos 2 caracteres</div>
                          <div *ngIf="apellidos.errors.pattern">Solo se aceptan letras</div>
                        </div>
                    </div> 
                  </div>
                </fieldset>           
                <fieldset  class="p-3 mt-4">
                  <legend  class="w-auto">&nbsp;&nbsp;<strong style="color: crimson;">&nbsp; Contacto</strong>&nbsp;&nbsp;</legend>
                  <div class="form-row" style="text-align: left">
                    <div class="form-group col-md-6">
                      <label>Teléfono: </label>
                      <input type="text" id="telefono" name="telefono" placeholder="Telefono" class="form-control" [(ngModel)]="this.servicio.usuarioModificar.telefono">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Celular: </label>
                      <input type="text" id="celular" name="celular" placeholder="Celular" class="form-control" [(ngModel)]="this.servicio.usuarioModificar.celular">
                    </div>
                  </div>
                  <div class="form-group" style="text-align: left">
                    <label>Dirección: </label>
                    <textarea name="direccion" id="direccion" cols="50" rows="4" placeholder="Direccion" class="form-control" [(ngModel)]="this.servicio.usuarioModificar.direccion"></textarea>
                  </div>
                </fieldset>        
                <div class="form-wizard-buttons">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-next">Modificar</button>
                </div>
              </form>
            </div>
          </div>
         </div>
        </section>
      </div>
    </div>
  </div>
