<div class="contenedor2">
  <app-navbartop></app-navbartop>
</div>
<app-navbar></app-navbar>
<div class="contenedor">
  <div class="div-titulo sombra">
    <h3 style="text-align-last: center"><strong>Administracion de Periodos Academicos</strong></h3>
  </div>  
  <div class="box">
    <div class="table-responsive-md">
      <div class="input-group">
        <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalCrearPeriodoAcademico" style="width: 130px;">Nuevo Periodo</button>
      </div>
      <div class="table-responsive-md">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary float-right mb-3" disabled="true" type="button">Buscar</button>
          </span>
          <input type="text" [(ngModel)]="buscar" name="buscar" class="form-control" placeholder="Buscar">
        </div>
        <div id="divTabla1">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Descripción de Período Académico</th>
                <th scope="col">Fecha de Inicio</th>
                <th scope="col">Fecha de Fin</th>
                <th scope="col">Estado</th>
                <th scope="col">&nbsp;</th>
                <th scope="col" *ngIf="verifDirec==false">&nbsp;</th>
                <th scope="col" *ngIf="verifDirec==false">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let periodoAcademico of periodosAcademicos|buscarPeriodoAcademico:buscar; index as i">
                <td *ngIf="periodoAcademico.estado=='Activo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="thtdMaximo" style="width: 40%">{{periodoAcademico.descripcion}}</td>
                <td *ngIf="periodoAcademico.estado=='Activo' && periodoAcademico.descripcion!='Periodo del Administrador'">{{periodoAcademico.fecha_inicio}}</td>
                <td *ngIf="periodoAcademico.estado=='Activo' && periodoAcademico.descripcion!='Periodo del Administrador'">{{periodoAcademico.fecha_fin}}</td>
                <td *ngIf="periodoAcademico.estado=='Activo' && periodoAcademico.descripcion!='Periodo del Administrador'">{{periodoAcademico.estado}}</td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado" style="width: 40%">{{periodoAcademico.descripcion}}</td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado">{{periodoAcademico.fecha_inicio}}</td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado">{{periodoAcademico.fecha_fin}}</td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado">{{periodoAcademico.estado}}</td>
                <td *ngIf="periodoAcademico.estado=='Activo' && periodoAcademico.descripcion!='Periodo del Administrador'">
                  <button class="btn btn-info" data-toggle="modal" data-target="#modalVisualizarPeriodoAcademico" (click)="visualizarPeriodoAcademico(periodoAcademico)">Visualizar</button>
                </td>
                <td *ngIf="periodoAcademico.estado=='Activo' && verifDirec==false  && periodoAcademico.descripcion!='Periodo del Administrador'">
                  <button class="btn btn-success" data-toggle="modal" data-target="#modalModificarPeriodoAcademico" (click)="modificarPeriodoAcademico(periodoAcademico)">Modificar</button>
                </td>
                <td *ngIf="periodoAcademico.estado=='Activo' && verifDirec==false && periodoAcademico.descripcion!='Periodo del Administrador'">
                  <button class="btn btn-danger" (click)="desactivarPeriodoAcademico(periodoAcademico)">Inactivar</button>
                </td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado">
                  <button class="btn btn-info" disabled="true">Visualizar</button>
                </td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && verifDirec==false && periodoAcademico.descripcion!='Periodo del Administrador'" class="desactivado">
                  <button class="btn btn-success" disabled="true">Modificar</button>
                </td>
                <td *ngIf="periodoAcademico.estado=='Inactivo' && verifDirec==false && periodoAcademico.descripcion!='Periodo del Administrador'"class="desactivado">
                  <button class="btn btn-warning" (click)="activarPeriodoAcademico(periodoAcademico)" style="color: black;">Activar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-crear-periodo-academico></app-modal-crear-periodo-academico>
<app-modal-visualizar-periodo-academico></app-modal-visualizar-periodo-academico>
<app-modal-modificar-periodo-academico></app-modal-modificar-periodo-academico>