 /*Estilos para los perfiles de usuario e ingreso de datos*/
 .divContainer{
    background: white;
    width: 100%;
    padding: 5% 5% 0 20%;
    margin: -5% 0 0 0;
  }
  
  .marginElements{
      margin-top: -1.8%;
  }

  .h4{
      font-size: 1%;
  }
