<div class="modal fade" id="modalModificarActividadDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <h5 class="titulo" id="exampleModalLabel">Modificar Actividad Docente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="container">
          <div class="row">
            <div class="form-wizard">    
              <form class="form-rol" #formActividadDocente="ngForm">
                <h3>Datos Actividad Docente:</h3>     
                <div class="form-group col-md-12 col-xs-12">
                  <label>Nombre de Actividad Docente: <span>*</span></label>
                  <input type="text" id="nombre" name="nombre" placeholder="Nombre" required class="form-control required" [(ngModel)]="this.servicio.actividadDocenteModificar.nombre">
                </div>
                <div class="form-group col-md-12 col-xs-12">
                  <label>Descripción de Actividad Docente: <span>*</span></label>
                  <textarea id="descripcion" name="descripcion" placeholder="Descripcion" class="form-control required" [(ngModel)]="this.servicio.actividadDocenteModificar.descripcion"></textarea> 
                </div>
                <div class="form-group col-md-12 col-xs-12">
                  <label>Código de Actividad Docente: <span>El codigo es unico, no se puede modificar</span></label>
                  <input type="text" id="codigo" name="codigo" readonly placeholder="Código" class="form-control required" [(ngModel)]="this.servicio.actividadDocenteModificar.codigo">
                </div>
                <div class="form-wizard-buttons">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-next" (click)="modificarActividadDocente(formActividadDocente)">Guardar</button>
                </div>
              </form>
            </div>
          </div>
                
        </div>
      </section>
    </div>
  </div>
</div>
