<div class="divContainer">
    <div class="row">
          <div class="col-sm-10"><h1>Nombre Gestor</h1></div>
    </div>
    <div class="row">
          <div class="col-sm-3"><!--left col-->   
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#home">Datos Personales</a></li>
                <li><a class="nav-link" href="#messages">Formación Academica</a></li>
              </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6 marginElements">
                              <label for="nombres" class="marginElements"><h5>Nombres</h5></label>
                              <input type="text" class="form-control marginElements" name="nombres" id="nombres" placeholder="Ingrese Nombres">
                          </div>
                      </div>
                      <div class="form-group marginElements">
                          
                          <div class="col-xs-6 marginElements">
                            <label for="apellidos"><h5>Apellidos</h5></label>
                              <input type="text" class="form-control marginElements" name="apellidos" id="apellidos" placeholder="Ingrese Apellidos">
                          </div>
                      </div>
          
                      <div class="form-group marginElements" >
                          
                          <div class="col-xs-6 marginElements">
                              <label for="telefono" cal><h5>Telefono</h5></label>
                              <input type="text" class="form-control marginElements" name="telefono" id="telefono" placeholder="Ingrese numero de telefono">
                          </div>
                      </div>
          
                      <div class="form-group marginElements">
                          <div class="col-xs-6 marginElements">
                             <label for="mobile"><h5>Celular</h5></label>
                              <input type="text" class="form-control marginElements" name="mobile" id="mobile" placeholder="Ingrese numero de celular">
                          </div>
                      </div>
                      <div class="form-group marginElements">
                          
                          <div class="col-xs-6 marginElements">
                              <label for="email"><h5>Correo</h5></label>
                              <input type="email" class="form-control marginElements" name="email" id="email" placeholder="Ingrese su correo">
                          </div>
                      </div>
                      <div class="form-group marginElements">
                          
                          <div class="col-xs-6 marginElements">
                              <label for="email"><h5>Direccion</h5></label>
                              <input type="email" class="form-control" id="direccion" placeholder="Ingrese su direccion">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h5>Contraseña</h5></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su contraseña">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6 marginElements">
                            <label for="password2"><h5>Verificar Contraseña</h5></label>
                              <input type="password" class="form-control marginElements" name="password2" id="password2" placeholder="Confirme su contraseña">
                          </div>
                      </div>
                      <div class="form-group marginElements">
                           <div class="col-xs-12 marginElements">
                                <br>
                                  <button class="btn btn-lg btn-success marginElements" type="submit"><i class="glyphicon glyphicon-ok-sign marginElements"></i>Guardar</button>
                                   <button class="btn btn-lg marginElements" type="reset"><i class="glyphicon glyphicon-repeat marginElements"></i> Cancelar</button>
                            </div>
                      </div>
                  </form>
              
              <hr>
              
             </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->