<div class="modal fade" id="modalVisualizarRolesUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngFor="let user of usuarioActivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <h5 class="titulo" id="exampleModalLabel">Visualizar Roles Asignados - {{periodo.descripcion}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="form-wizard">
            <h3>Usuario: {{this.servicio.usuarioAsignarRol.nombre}} {{this.servicio.usuarioAsignarRol.apellido}}</h3>
            <h3>Carrera: {{this.servicio.usuarioAsignarRol.carrera}}</h3>
            <div class="form-row">
              <div class="form-group col-md-12">
                <ul class="list-unstyled">
                  <fieldset class="p-3">
                    <legend class="w-auto">&nbsp;&nbsp;<i class="fas fa-user-tag"></i><strong>&nbsp; Roles
                        Asignados</strong>&nbsp;&nbsp;</legend>
                    <table class="table table-bordered">
                      <thead style="background: #149b48;">
                        <tr>
                          <th scope="col" style="color: white; width: 40%;">Nombre de Rol</th>
                          <th scope="col" style="color: white;">Periodo Academico</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rol of this.servicio.rolesActuales">
                          <td>{{rol.rol}}</td>
                          <td>{{rol.periodo_academico}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </ul>
              </div>
            </div>
            <div class="form-wizard-buttons">
              <button class="btn btn-info" data-toggle="modal" data-target="#modalVisualizarHistorialRoles"
                (click)="visualizarHistorialRoles()">Historial</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
<app-modal-visualizar-historial-roles></app-modal-visualizar-historial-roles>