<div class="contenedor2">
  <app-navbartop></app-navbartop>
</div>
<app-navbar></app-navbar>
<div class="contenedor">
  <div class="div-titulo sombra">
    <h3 style="text-align-last: center"><strong>Asignacion de Roles</strong></h3>
  </div>
  <div class="box">
    
    <div class="table-responsive-md">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-primary float-right mb-3" disabled="true" type="button">Buscar</button>
        </span>
        <input type="text" [(ngModel)]="buscar" name="buscar" class="form-control" placeholder="Buscar">
      </div>
      <div *ngIf="this.servicio.periodoActual.id==null">
        <span class="badge badge-pill badge-danger">Solo se podra asignar y eliminar roles, cuando se encuentre creado y activo un Periodo Academico.!</span>
      </div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cedula/Pasaporte</th>
            <th scope="col">Nombres</th>
            <th scope="col">Correo</th>
            <th scope="col">Carrera</th>
            <th scope="col">Estado</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let usuario of usuarios|buscarUsuario:buscar; index as i">
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1">{{usuario.cedula}}{{usuario.pasaporte}}</td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1">{{usuario.nombre}} {{usuario.apellido}}</td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1">{{usuario.correo}}</td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1">{{usuario.carrera}}</td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1">{{usuario.estado}}</td>
            <th scope="row" *ngIf="usuario.estado=='Inactivo'" class="desactivado">{{i+1}}</th>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1" class="desactivado">{{usuario.cedula}}{{usuario.pasaporte}}</td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1" class="desactivado">{{usuario.nombre}} {{usuario.apellido}}</td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1" class="desactivado">{{usuario.correo}}</td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1" class="desactivado">{{usuario.carrera}}</td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1" class="desactivado">{{usuario.estado}}</td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1 && this.servicio.periodoActual.id!=null" >
              <button class="btn btn-info" data-toggle="modal" data-target="#modalAsignarRol" (click)="asignarRol(usuario)">Asignar</button>
            </td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1 && this.servicio.periodoActual.id!=null" class="desactivado">
              <button  class="btn btn-info" disabled="true">Asignar</button>
            </td>
            <td *ngIf="usuario.estado=='Activo' && usuario.id!=1 && this.servicio.periodoActual.id!=null">
              <button *ngIf="usuario.rol!='Administrador'" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminarRol" (click)="eliminarRol(usuario)">Eliminar</button>
            </td>
            <td *ngIf="usuario.estado=='Inactivo' && usuario.id!=1 && this.servicio.periodoActual.id!=null" class="desactivado" disabled="true">
              <button *ngIf="usuario.rol!='Administrador'" class="btn btn-warning" disabled="true">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  
</div>  
<app-modal-asignar-rol></app-modal-asignar-rol>
<app-modal-visualizar-roles-usuario></app-modal-visualizar-roles-usuario>
<app-modal-eliminar-roles-usuario></app-modal-eliminar-roles-usuario>
<app-modal-visualizar-historial-roles></app-modal-visualizar-historial-roles>