<div class="modal fade" id="modalModificarCarrera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <h5 class="titulo" id="exampleModalLabel">Modificar Carrera</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="container">
          <div class="row">
            <div class="form-wizard">    
              <form #formCarrera="ngForm" (ngSubmit)="guardarCarrera(formCarrera)">
                <h3>Datos de la Carrera:</h3>
                <fieldset class="p-3">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Nombre: <span>*</span></label>
                      <input type="text" id="nombres" name="nombres" minlength="2"  required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚÜü\s]+"  
                        #nombres="ngModel" title="No se aceptan numeros." placeholder="Nombre" class="form-control required" [(ngModel)]="this.servicio.carreraModificar.nombre">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Descripcion: <span>*</span></label>
                      <input type="text" id="apellidos" #apellidos="ngModel" minlength="2" name="apellidos" 
                      placeholder="Descripcion de carrea" class="form-control" [(ngModel)]="this.servicio.carreraModificar.descripcion">
                    </div>
                  </div>
                  <div class="form-row">
                    <div *ngIf="nombres.touched && !nombres.valid"  class="alert alert-danger col-md-6">
                      <div *ngIf="nombres.errors.required">Nombre es requerido</div>
                      <div *ngIf="nombres.errors.minlength">Nombre debe ser de al manos 2 caracteres</div>
                      <div *ngIf="nombres.errors.pattern">Solo se aceptan letras</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Estado: <span>*</span></label>
                    <select class="form-control" [(ngModel)]="this.servicio.carreraModificar.estado" id="estado" name="estado" required>
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                    </select>
                  </div>
                </fieldset>
                <div class="form-wizard-buttons">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-next">Guardar</button>
                </div>
              </form>
            </div>
          </div>
                
        </div>
      </section>
    </div>
  </div>
</div>
