<div class="modal fade" id="modalVisualizarHistorialActividades" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <h5 class="titulo" id="exampleModalLabel">Historial de usuarios asignados a actividad - {{this.servicio.actividadSeleccionada.codigo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <div class="row">            
          <div class="form-wizard"> 
            <h4>{{this.servicio.actividadSeleccionada.nombre}}</h4>
              <fieldset class="p-3">
                <legend  class="w-auto">&nbsp;&nbsp;<i class="fas fa-user-tag"></i><strong>&nbsp; Usuarios Asignados</strong>&nbsp;&nbsp;</legend>
                  <table class="table table-bordered">
                    <thead style="background: #149b48;">
                      <tr>
                        <th scope="col" style="color: white; width: 50px;">Periodo Academico</th>
                        <th scope="col" style="color: white; width: 50px;">Nombre de Usuario</th>
                      </tr>
                    </thead>          
                    <tbody>
                      <tr *ngFor="let ad of this.servicio.historialUsuariosActividad; index as i">
                        <td>{{ad.periodo_academico}}</td>  
                        <td>{{ad.nombre}} {{ad.apellido}}</td>     
                      </tr>
                    </tbody>
                  </table>
              </fieldset>
              <div class="form-wizard-buttons">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>